.navi {
  position: fixed;
  font-size: 1.2rem;
  height: 50px;
  width: 99vw;
  left: 0;
  top: 0;
  /* margin-top: 25px; */
  background-color: rgba(255, 255, 255, 0.664);
}
.navWrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
.navWrap > div{
  margin-right: 10px;
  cursor: pointer;
}
.left {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.right {
  position: absolute;
  right: 0;
}
